body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  height: 100vh;
}

#main {
  padding-top: 100px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #00ffcc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#lockscreen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unlockCode {
  padding: 10px;
  font-size: 18px;
  width: 200px;
  margin-top: 10px;
}
